{% extends "base.html.twig" %}

{% block title %}Roll{% endblock %}

{% block body %}
<main class="container">
    <header>
        <h1>Roll a dice</h1>
    </header>

    <p>Here is the value of the dice.</p>

    <ul>
        <li>{{ diceString }}</li>
    </ul>

    <a href="{{ path('test_roll_num_dices', {num: 5}) }}">Slå 5 tärningar</a>
</main>
{% endblock %}