* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ededed;
    font-size: 100%;
    line-height: 1.4;
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

p {
    font-size: 1rem;
    margin-bottom: 1.68rem;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1.68rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1.68rem;
}

.container {
    background: #fff;
    margin: 10px auto;
    width: 70%;
    padding: 2%;
    border-radius: 4px;
    min-height: 60vh;
}

.navbar {
    font-size: 1rem;
    background: #333;
    padding: 1%;
}

.navMenu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navRoute {
    padding-left: 1%;
    padding-right: 1%;
}

.navbar
a {
    color: #fff;
    text-decoration: none;
}

.navbar
a:hover {
    text-decoration: underline;
}

.question {
    font-weight: bold;
}

img {
    max-width: 100%;
}

.aboutLink {
    color: #3a8352;
    text-decoration: none;
}

.aboutLink:hover {
    text-decoration: underline;
}

.aboutLink:visited {
    color: #235233;
}

.imgCenter {
    width: 70%;
    display: block;
    margin: auto;
}

.imageMetrics {
    display: block;
    margin: auto;
}

.imgBook {
    width: 30%
}

.footer {
    background: #333;
    padding: 0.5%;
    margin-top: auto;
}

.footer
p {
    color: #fff;
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.5rem;
}

@media (max-width: 800px) {
    .container {
        width: 60%;
    }
}

.grid {
    display: grid;
    gap: 1em 1em;
    margin: 0 auto;
    padding-left: 2em;
    padding-right: 2em;
    min-width: 700px;
}

.main {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    max-width: 95%;
}

.side {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    min-width: 150px;
}

.flash-notice {
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.flash-warning:before {
    content: "⚠";
}

.deckList {
    column-count: 4; 
}

.deckListCards {
    list-style-type: none;
    padding: 0.2em;
}

.blockquote {
    font-style: italic;
    margin-left: 1em;
    padding-left: 1em;
    border-left: 0.5em solid #777;
}

.libraryList {
    list-style-type: none;
}

form.label-left {
    margin-bottom: 24px;
}

form.label-left label,
form.label-left input[type=text],
form.label-left input[type=number] {
    height: 20px;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}

.read {
    background: lightgrey;
}

form.label-left input[type=submit] {
    width: 10rem;
    height: 2rem;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}

form.label-left label {
    display: inline-block;
    width: 5em;
    padding-top: 6px;
}

form.label-left label::after {
    content: ":";
}

form.label-left input[type=text],
form.label-left input[type=number] {
    display: block;
    width: 20em;
    height: 25px;
}

form.label-left legend {
    font-size: 2rem;
}
