{% extends "base.html.twig" %}

{% block title %}Presentation{% endblock %}

{% block body %}
<main class="container">
    <article>
        <h1>Presentation</h1>
        <img class="imgCenter" src="img/me.jpg" alt="Bild som represenerar mig">
        <p>Detta är min me-sida i kursen. Denna sidan innehåller en presentation av mig själv.</p>
        <p>Mitt namn är Linda. Född och uppvuxen i en förort i Stockholmstrakten. Bor fortfarande kvar i Stockholm tillsammans med min man, vår lilla son och två katter.</p>
        <p>Jag har tidigare alltid arbetat inom hälso- och sjukvården, men känner att det inte riktigt passar mig längre. Valde därför att försöka skola om mig till webutvecklare då flera i min omgivning arbetar inom det och inspirerade mig. Går därför till att börja med de olika kurspaketen som BTH erbjuder, då jag även kombinerar studier med först arbete och numera föräldraledighet.</p>
        <p>Om jag skulle råka få tid över tycker jag om matlagning, stickning, tv-spel, tv-serier, odling och diverse utflykter i naturen.</p>
    </article>
</main>
{% endblock %}