{% extends "base.html.twig" %}

{% block title %}Redovisning{% endblock %}

{% block body %}
<main class="container">
    <article>
        <header>
            <h1>Redovisning</h1>
        </header>

        <ul class="reportlist">
            <li><a class="aboutLink" href="#kmom01">Kmom01</a></li>
            <li><a class="aboutLink" href="#kmom02">Kmom02</a></li>
            <li><a class="aboutLink" href="#kmom03">Kmom03</a></li>
            <li><a class="aboutLink" href="#kmom04">Kmom04</a></li>
            <li><a class="aboutLink" href="#kmom05">Kmom05</a></li>
            <li><a class="aboutLink" href="#kmom06">Kmom06</a></li>
            <li><a class="aboutLink" href="#kmom07">Kmom07-10</a></li>
        </ul>

<section id="kmom01">
<h2>Kmom01</h2>
<p class="question">Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.</p>
<p>De enda förkunskaperna jag har utav objektorientering är från kursen som jag läst på BTH om python och objektorienterad programmering. Den läste jag dock för ett år sedan i ett kurspaket. Det är inte mycket jag minns från den just nu, men det kommer kanske tillbaka snart.</p>
<p class="question">Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?</p>
<p>Hm, jag vet inte riktigt. Man behöver väl till att börja med veta rent pratiskt hur man ska skriva koden. Än så länge skulle jag dock säga att min förståelse för PHP klasser och objekt är relativt begränsad, så jag ser fram emot att kunna svara på den frågan mer utförligt i slutet av kursen.</p>
<p class="question">Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?</p>
<p>Jag uppfattar nog den som relativt enkel att navigera. Eller okej-enkel i alla fall. Än så länge har jag dock mest jobbat i mapparna templates och src/Controller, så det är framförallt hur dessa lirar tillsamans som jag har koll på. Sen finns det ju en massa andra mappar som jag just den här veckan valt att ignorera så länge de fungerar.</p>
<p class="question">Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla? Är det några särskilda områden som du känner att du vill veta mer om? Lyft fram några delar av artikeln som du känner mer värdefulla.</p>
<p>Ja, du. Måste erkänna att jag inte öppnade artikeln förrän nu. Spontant skulle jag säga att 'code style guide' känns spännande. Jag är alltid tacksam mot mig själv de gånger jag måste gå tillbaka och förstå min egna gamla kod, om jag har skrivit den snyggt och tydligt. Att skriva bra kod enligt en kodstandard är ju något som är bäst att göra från början, jättejobbigt att fixa en massa existerande kod. Så det avsnittet ska jag kika lite på.</p>
<p class="question">Vilken är din TIL för detta kmom?</p>
<p>Att rensa cachen med de där bin/console kommandona. Satt i en evighet och försökte klura ut varför min report-route inte fungerade. Kollade stavfel, om jag skrivit routen på något annorlunda sätt än de andra, kollade att routen fann med debug:router osv. Men, det var bara något med cachen som satte käppar i hjulet visade det sig.</p>
</section>

<section id="kmom02">
<h2>Kmom02</h2>
</section>

<section id="kmom03">
<h2>Kmom03</h2>
</section>

<section id="kmom04">
<h2>Kmom04</h2>
</section>

<section id="kmom05">
<h2>Kmom05</h2>
</section>

<section id="kmom06">
<h2>Kmom06</h2>
</section>

<section id="kmom07">
<h2>Kmom07-10</h2>
</section>

    </article>
</main>
{% endblock %}