{% extends "base.html.twig" %}

{% block title %}Redovisning{% endblock %}

{% block body %}
<main class="container">
    <article>
        <header>
            <h1>Redovisning</h1>
        </header>

        <ul class="reportlist">
            <li><a class="aboutLink" href="#kmom01">Kmom01</a></li>
            <li><a class="aboutLink" href="#kmom02">Kmom02</a></li>
            <li><a class="aboutLink" href="#kmom03">Kmom03</a></li>
            <li><a class="aboutLink" href="#kmom04">Kmom04</a></li>
            <li><a class="aboutLink" href="#kmom05">Kmom05</a></li>
            <li><a class="aboutLink" href="#kmom06">Kmom06</a></li>
            <li><a class="aboutLink" href="#kmom07">Kmom07-10</a></li>
        </ul>

<section id="kmom01">
<h2>Kmom01</h2>
<p class="question">Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.</p>
<p>De enda förkunskaperna jag har utav objektorientering är från kursen som jag läst på BTH om python och objektorienterad programmering. Den läste jag dock för ett år sedan i ett kurspaket. Det är inte mycket jag minns från den just nu, men det kommer kanske tillbaka snart.</p>
<p class="question">Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?</p>
<p>Hm, jag vet inte riktigt. Man behöver väl till att börja med veta rent pratiskt hur man ska skriva koden. Än så länge skulle jag dock säga att min förståelse för PHP klasser och objekt är relativt begränsad, så jag ser fram emot att kunna svara på den frågan mer utförligt i slutet av kursen.</p>
<p class="question">Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?</p>
<p>Jag uppfattar nog den som relativt enkel att navigera. Eller okej-enkel i alla fall. Än så länge har jag dock mest jobbat i mapparna templates och src/Controller, så det är framförallt hur dessa lirar tillsamans som jag har koll på. Sen finns det ju en massa andra mappar som jag just den här veckan valt att ignorera så länge de fungerar.</p>
<p class="question">Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla? Är det några särskilda områden som du känner att du vill veta mer om? Lyft fram några delar av artikeln som du känner mer värdefulla.</p>
<p>Ja, du. Måste erkänna att jag inte öppnade artikeln förrän nu. Spontant skulle jag säga att 'code style guide' känns spännande. Jag är alltid tacksam mot mig själv de gånger jag måste gå tillbaka och förstå min egna gamla kod, om jag har skrivit den snyggt och tydligt. Att skriva bra kod enligt en kodstandard är ju något som är bäst att göra från början, jättejobbigt att fixa en massa existerande kod. Så det avsnittet ska jag kika lite på.</p>
<p class="question">Vilken är din TIL för detta kmom?</p>
<p>Att rensa cachen med de där bin/console kommandona. Satt i en evighet och försökte klura ut varför min report-route inte fungerade. Kollade stavfel, om jag skrivit routen på något annorlunda sätt än de andra, kollade att routen fann med debug:router osv. Men, det var bara något med cachen som satte käppar i hjulet visade det sig.</p>
</section>

<section id="kmom02">
<h2>Kmom02</h2>
<p class="question">Förklara kort de objektorienterade konstruktionerna arv, komposition, interface och trait och hur de används i PHP.</p>
<p>Arv innebär att en klass är som ett 'barn' till en annan klass och får alla variabler funktioner som 'föräldraklassen' har. Komposition är en sorts association mellan klasser, som innebär att en klass kan vara en del av en annan. Trait används inom php istället för multipelt arv, och är ungefär som en modul som laddas in i klassen. Interface innebär ungefär att den erbjuder en sorts struktur för klasserna (vilka variabler och funktioner de ska ha), men det är upp till klasserna att innehålla koden för hur de ska implementeras.</p>
<p class="question">Berätta om din implementation från uppgiften. Hur löste du uppgiften, är du nöjd/missnöjd, vilken förbättringspotential ser du i din koden och dina klasser?</p>
<p>Jag är sådär nöjd. Det var jättesvårt att komma igång. Jag försökte följa den grunden med förslag på klasser som erbjuds, men hade därefter länge svårt att komma igång med vad de skulle innehålla. Jag fick verkligen bygga koden steg för steg. Få en sak att fungera, testa nästa, göra om osv. Det finns säkert förbättringspotential, men jag har just nu svårt att se det. Allt är så rörigt för mig (det är också sent på kvällen nu), och äntligen verkar det fungera så jag vågar inte röra koden. Men överlag försökte jag även ta inspiration från tärningsspelsövningen där det gick.</p>
<p class="question">Berätta hur det kändes att modellera ett kortspel med flödesdiagram och psuedokod. Var det något som du tror stödjer dig i din problemlösning och tankearbete för att strukturera koden kring en applikation?</p>
<p>Hm, jag är inte helt säker på vad för flödesdiagram eller pseudokod som det syftas på. Jag kan inte hitta något om det i kraven. Det kanske hade varit hjälpsamt, men inte realistiskt att jag skulle hinna det också. Hann knappt med de grundläggande kraven så som det är. Hoppas jag inte missförstod något nu.</p>
<p class="question">Vilken är din TIL för detta kmom?</p>
<p>Att det är svårt att bygga upp klasser från 'scratch'. Och att det är bäst att dubbelkolla stavfel först när koden kraschar, eller att jag använde fel variabelnamn eller glömde $ eller skrev . istället för ->. Helt enkelt kolla "typos" först.</p>
</section>

<section id="kmom03">
<h2>Kmom03</h2>
<p class="question">Berätta hur det kändes att modellera ett kortspel med flödesdiagram och psuedokod. Var det något som du tror stödjer dig i din problemlösning och tankearbete för att strukturera koden kring en applikation?</p>
<p>Framförallt flödesdiagrammet tyckte jag var hjälpsamt, och att fundera på vilka klasser jag ville ha med. Det var svårare med pseudokoden. Jag ville mer få en bra överblick i början än att börja fundera i detalj på hur koden skulle se ut. Då var det mer hjälpsamt att tänka övergripande på vilka sidor som skulle presenteras för spelaren och vilken information, samt vad som bara skulle hända i bakgrunden.</p>
<p class="question">Berätta om din implementation från uppgiften. Hur löste du uppgiften, är du nöjd/missnöjd, vilken förbättringspotential ser du i din koden, dina klasser och applikationen som helhet?</p>
<p>Jag är överlag ganska nöjd med mitt huvudsakliga upplägg att ha en spelar-klass, en bank-klass (som ärver från spelare), en spel-klass (som innehåller en spelare, en bank och en kortlek). Sen valde jag också att skapa en "draw response"-klass som samlar information om vilket kort som drogs, och spelarens nuvarande poäng (fast nu när jag tänker efter vet jag inte om jag använder det så mycket). Skulle jag förbättra något skulle det nog vara att göra ett snyggare flöde när banken drar kort. I nuläget gör banken bara det i bakgrunden, men det hade varit snyggt att visa upp vilka kort banken drar en åt gången för spelaren.</p>
<p class="question">Vilken är din känsla för att koda i ett ramverk som Symfony, så här långt in i kursen?</p>
<p>Det känns okej. Jag blir alltid lite förvirrad över alla dess ramverk och vad de gör. Jag känner väl ändå att jag har tillräckligt med koll för att kunna få ihop mitt projekt. Fast en sak som förvirrade mig var att vissa bilder syntes bara i localhost, men inte på studentservern. Det var konstigt, men jag lyckades lösa det med hjälp av en guide i git issues för kursen.</p>
<p class="question">Vilken är din TIL för detta kmom?</p>
<p>Att linterns är jobbiga, men bra. Jobbigt när man får en miljon fel för att jag inte använde camelcase på rätt ställen osv, men väldigt tillfredsställande när allt är snyggt och fixat. Det är dock svårt att hålla ordning i koden. Ganska snabbt blir det många variabler och funktioner, och när allt väl fungerar vill jag inte röra för mycket så att det helt plötsligt inte fungerar igen. Så då får det vara lite rörigt istället. Good enough helt enkelt.</p>
</section>

<section id="kmom04">
<h2>Kmom04</h2>
</section>

<section id="kmom05">
<h2>Kmom05</h2>
</section>

<section id="kmom06">
<h2>Kmom06</h2>
</section>

<section id="kmom07">
<h2>Kmom07-10</h2>
</section>

    </article>
</main>
{% endblock %}