{% extends "project/proj_base.html.twig" %}

{% block title %}Referenser{% endblock %}

{% block body %}
<div class="projectImgContainer">
    <img class="projectImg" src="../img/project_forest.jpg" alt="A pretty forest">
</div>

<main class="projectcontainer">
    <h1 class="projectH1">Referenser</h1>

        <div class="main">
            <article>
                <p class="projectP">Följande hemsidor och rapporter har använt för att samla in information, fakta och data.</p>
                <p class="projectRef">United Nations Deveopment Program. (u.å.). <a href="https://www.globalamalen.se">https://www.globalamalen.se</a></p>
                <p class="projectRef">Statistiska Centralbyrån. (2022, 1 juli). Statistisk lägesbild 2022 Genomförandet av Agenda 2030 i Sverige <a href="https://www.scb.se/contentassets/c1bc76dae47f4cb2bcfd1ec6f5a8cca1/mi1303_2021b22_br_x41br2201.pdf">https://www.scb.se/contentassets/c1bc76dae47f4cb2bcfd1ec6f5a8cca1/mi1303_2021b22_br_x41br2201.pdf</a></p>
                <p class="projectRef"> Statistiska Centralbyrån. (2022). Indikatorer för hållbar utveckling <a href="https://www.scb.se/hitta-statistik/statistik-efter-amne/miljo/miljoekonomi-och-hallbar-utveckling/indikatorer-for-hallbar-utveckling/">https://www.scb.se/hitta-statistik/statistik-efter-amne/miljo/miljoekonomi-och-hallbar-utveckling/indikatorer-for-hallbar-utveckling/</a></p>
                <p class="projectRef"> Statistiska Centralbyrån. Detaljerad indikatorslista Agenda 2030 <a href="https://www.scb.se/contentassets/832cbb94580540249f7ae28637f39811/bilaga-1_detaljerad.pdf">https://www.scb.se/contentassets/832cbb94580540249f7ae28637f39811/bilaga-1_detaljerad.pdf</a></p>
                <p class="projectRef"> Statistiska Centralbyrån. Agenda 2030 lägesbild 2020 - tabellbilagor <a href="https://www.scb.se/hitta-statistik/statistik-efter-amne/miljo/miljoekonomi-och-hallbar-utveckling/indikatorer-for-hallbar-utveckling/pong/tabell-och-diagram/agenda-2030-lagesbild-2020--tabellbilagor2/">https://www.scb.se/hitta-statistik/statistik-efter-amne/miljo/miljoekonomi-och-hallbar-utveckling/indikatorer-for-hallbar-utveckling/pong/tabell-och-diagram/agenda-2030-lagesbild-2020--tabellbilagor2/</a></p>

                <img class="goalLogoBig" src="../img/LNOB.png" alt="Ingen ska lämnas utanför">
            </article>
        </div>
</main>
{% endblock %}